.about-us {
    color: black;
}

.about-us__title {
    margin-top: 144px;
    font-weight: 500;
    font-size: 36px;
}

.about-us__block {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.about-us__content::before {
    content: '';
    display: block;
    position: absolute;
    left: 265px;
    width: 8px;
    height: 231px;
    box-sizing: border-box;
    background-color: #FFA800;
}

.about-us__content {
    margin-left: 30px;
    margin-top: 30px;

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.about-us__content p:not(:first-child) {
    margin-top: 1em;
}

.how-it-works {
    margin-top: 144px;
    background-color: #FFA800;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-image: url(../../assets/img/mainbanner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.how-it-works__head-wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 729px;

    margin-top: 69px;
}

.how-it-works__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;

    width: 347px;
    height: 41px;
    top: 1618px;
    left: 250px;
    gap: 0px;
}

.how-it-works__button {
    background-color: #FFA800;
    width: 323px;
    height: 60px;
    top: 865px;
    left: 1340px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;

    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.how-it-works__button:hover {
    background-color: #FFFFFF;
    color: #000;
}

.how-it-works__button:focus {
    background-color: #FFFFFF;
    ;
    color: #000;
}

.how-it-works__wrapper {
    width: 906px;
    margin-top: 120px;
    margin-bottom: 90px;
    margin-left: 261px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-it-works__options {
    width: 226px;
    text-align: center;
}

.how-it-works__option1, .how-it-works__option2, .how-it-works__option3 {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.how-it-works__option1 img, .how-it-works__option2 img, .how-it-works__option3 img {
    width: 162px;
    height: 162px;
    margin-top: auto;
    margin-bottom: auto;
}

.how-it-works__option-description {
    font-size: 1.5em;
    font-weight: 300;
}

.feedbacks {
    color: #292929;
    margin-top: 132px;
    margin-bottom: 122px;
    margin-right: 294px;
}

.feedbacks-title {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    line-height: 42.19px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #292929;

    width: 1407px;
    height: 81px;
    top: 2276px;
    left: 252px;
    gap: 0px;
}

.feedbacks-items__item {
    display: flex;
    flex-direction: row;
}

.feedbacks-items__item__img {
    width: 200px;
}

.feedbacks-items__item__img img {
    width: 206px;
    height: 207px;
    border-radius: 50%;
}

.feedbacks-items__item__text {
    width: 400px;
    margin-left: 25px;
}

.feedbacks-items__item__text__title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

.feedbacks-items__item__text-p {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #928F94;
}