@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,700&display=swap");


.header {
    background-image: url("../../assets/img/mainbanner.jpg");
    background-color: #FFA800;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__logo {
    display: block;
    height: 64px;
    line-height: 64px;

    padding-top: 15px;
}

.footer__logo {
    padding-top: 22px;

}

.header__logo, .footer__logo {

    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-align: left;

    color: #e5e5e5;
}

.header__navbar {
    height: 94px;
    line-height: 94px;
    background: #292929;
}

.header__navlist {
    list-style: none;
    vertical-align: middle;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 72px;
}

.header__navlist {
    text-decoration: none;
}

.nav-link {
    max-width: 1919px;
    font-family: "Roboto", sans-serif;
    ;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    text-align: left;

    display: inline-block;
    margin-right: 83px;

    color: #ffffff;

}

.nav-link:hover {
    text-decoration: underline;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__slogan {
    width: 506px;
    margin-top: 415px;
    margin-left: 50px;
}

.header__slogan_title {
    width: 506px;
    height: 170px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 72px;
    line-height: 85px;
    text-align: left;

    color: #ffffff;

}

.ticket {
    margin-top: 298px;
    margin-left: 104px;
    width: 729px;
    background-color: #292929;
    opacity: 80%;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.ticket-form__title {
    width: 231px;
    height: 43px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    text-align: left;

    color: #ffffff;
}

.ticket-form__title:first-child {
    padding-top: 79px;

}

.ticket-form__input {
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    padding-left: 21px;
    border-radius: 3px;
    line-height: normal;
    outline: none;
    border: none;
    font-size: 100%;
    text-transform: uppercase;
    margin: 0;
    overflow: visible;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.header-form__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-9px, -50%);
    vertical-align: middle;
}

.rotate {
    min-width: 24px;
    margin: 8px;
    height: 24px;
    cursor: pointer;
    align-self: center;

}


.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    box-sizing: border-box;
    background-color: #FFA800;
}


datalist option {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.3em 1em;
    background-color: #F5F4F6;
    color: #292929;
    cursor: pointer;
}

datalist option:hover, datalist option:focus {
    font-weight: 700;
    outline: 0 none;
}

.header-trainselect-image {
    background-image: url('../../img/TrainSelect_header-background.png');
    background-color: #292929;
    background-repeat: no-repeat;
    background-size: cover;
}

.trainSelect_header-content {
    display: flex;
    justify-content: center;
    padding-top: 52px;
}

.trainSelect_header-content_search-form-container {
    width: 1490px;
    height: 350px;
    background: rgba(41, 41, 41, 0.69);
}

.trainSelect__header-form__direction,
.trainSelect__header-form__date {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.trainSelect__header-form__items {
    display: flex;
    flex-grow: 1;

    margin-top: 15px;
}

.train-select__header-form__item {
    width: 100%;
    max-width: 322px;
    position: relative;
}

.trainSelect__header-form__date {
    margin-left: 35px;
    min-width: 660px;
}

.search-form_input {
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    padding-left: 21px;
    border-radius: 3px;
    line-height: normal;
    outline: none;
    border: none;
    font-size: 100%;
    margin: 0;
    overflow: visible;
}

.search-form_first-block,
.search-form_second-block {
    display: flex;
    flex-direction: row;
}

.trainSelect_header-content_search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    padding-left: 42px;
    padding-right: 42px;
}

.header-form__submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header-form__items {
    display: flex;
    flex-grow: 1;

    margin-top: 15px;
}

.header-form__item {
    width: 100%;
    max-width: 322px;
    position: relative;
}

.find-tickets__button {
    background-color: #FFA800;
    width: 323px;
    height: 60px;
    top: 865px;
    left: 1340px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;

}