@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,700&display=swap");

.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

/* 
:root {
  --font-family: 'Roboto', sans-serif;
  --container-width: 90%;
  --max-width: 1360px;
  --padding: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: var(--padding);
  box-sizing: border-box;
}

.container {
  width: var(--container-width);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding);
} */